* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("img/bg.jpg");
    background-size: cover;
    font-family: "Arvo", serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

a {
    color: #bb7c66;
}

a:hover {
    color: rgba(210, 100, 131, 1);
}

h1 {
    text-align: center;
    font-family: "UnifrakturCook", cursive;
    color: #bb7c66;
    font-size: 6vw;
    margin-top: 15px;
    margin-bottom: 15px;
}

.center {
    text-align: center;
}

.info-window {
    font-family: "Arvo", serif;
    font-size: 16px;
    margin-left: 8px;
    width: 300px;
}

.info-window a {
    text-decoration: none;
    margin-top: 3px;
}

.info-window p {
    margin-bottom: 5px;
}

.info-window h2 {
    color: #bb7c66;
    margin-bottom: 10px;
    margin-top: 0;
}

.info-window img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

#info-window-address {
    margin-top: 15px;
    color: darkgrey;
    display: flex;
    align-items: center;
}

#marker-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999999;
    color: black;
    font-family: "Arvo", serif;
    font-size: 20px;
    padding: 3%;
    text-align: center;
}

#marker-overlay h2 {
    color: white;
    margin: 0;
    font-family: "UnifrakturCook", cursive;
    font-size: 5vw;
    padding: 10px;
}

#marker-overlay img {
    height: 55vh;
    width: 90vw;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
}

#marker-overlay img.extended {
    height: 100vh;
    width: 90vw;
    object-fit: cover;
    z-index: 666;
    transition: 0.5s;
}

#marker-overlay-content-container {
    background-color: rgba(187, 124, 102, 0.8);
}

#full-description {
    margin-top: 15px;
    padding: 1.5vw;
    margin-bottom: 15px;
}

#x {
    font-family: "UnifrakturCook", cursive;
    text-decoration: none;
    color: #bb7c66;
    cursor: pointer;
    font-size: 3vw;
    position: absolute;
    margin-left: 91%;
}

#x:hover {
    color: white;
}

#overlay-address {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.route {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
}

.route .icon-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 666;
}

.route:hover .icon-top {
    display: inline;
}

#overlay-icon img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#overlay-icon-marker img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.route-marker {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
}

.route-marker .icon-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 666;
}

.route-marker:hover .icon-top {
    display: inline;
}

#overlay-icon img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#slash {
    color: rgba(255, 255, 255, 0.9);
}

#map-container {
    width: 95vw;
    height: 95vh;
}

.all-places-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10vh;
    margin-left: 15px;
    margin-bottom: 3vh;
}

.place-container {
    margin-right: 15px;
    width: 350px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: inset 0 0 0 5px #bb7c66;
    transition: 0.5s;
    position: relative;
}

.place-container a {
    text-decoration: none;
}

.place-container a:hover {
    text-decoration: none;
    color: #bb7c66;
}

.place-container img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    padding-left: 5px;
    padding-right: 5px;
}

.place-container h2 {
    text-align: center;
    color: white;
}

.place-container div {
    text-align: center;
    margin-bottom: 15px;
}

.all-places-description {
    padding: 7px;
}

.place-container::before,
.place-container::after {
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    -webkit-transform: scale(0);
}

.animation::before {
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
    -webkit-transform-origin: 0 100%;
    pointer-events: none;
}

.animation::after {
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    -webkit-transform-origin: 100% 0%;
    pointer-events: none;
}

.place-container:hover::after,
.place-container:hover::before {
    -webkit-transform: scale(1);
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

@media all and (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 7.1vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .place-container h2 {
        font-size: 6vw;
    }

    .place-container {
        width: 300px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .place-container img {
        width: 300px;
        height: 150px;
    }

    .all-places-container {
        margin-top: 5vh;
        margin-left: 15px;
        margin-bottom: 3vh;
    }

    .all-places-description {
        padding: 15px;
        font-size: 4.5vw;
    }

    #marker-overlay {
        font-size: 15px;
        padding: 3%;
        text-align: center;
    }

    #marker-overlay h2 {
        font-size: 6.5vw;
    }

    #full-description {
        margin-top: 15px;
        padding: 15px;
        margin-bottom: 15px;
    }

    #x {
        font-family: "UnifrakturCook", cursive;
        text-decoration: none;
        color: #bb7c66;
        cursor: pointer;
        font-size: 6vw;
        position: absolute;
        margin-left: 89%;
    }

    #marker-overlay img {
        cursor: initial;
    }

    #marker-overlay img.extended {
        height: 55vh;
        width: 90vw;
        object-fit: cover;
    }

    #overlay-icon img {
        width: 18px;
        height: 18px;
        margin-left: 2.5px;
    }

    #overlay-icon-marker img {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }

    .route-marker {
        width: 15px;
        height: 15px;
    }

    .info-window {
        font-family: "Arvo", serif;
        font-size: 3vw;
        margin-left: 8px;
        width: 125px;
    }

    .info-window p {
        margin-bottom: 5px;
    }

    .info-window h2 {
        margin-bottom: 10px;
        font-size: 3.5vw;
    }

    .info-window img {
        width: 120px;
        height: 80px;
        object-fit: cover;
    }

    #info-window-address {
        margin-top: 5px;
    }

    #overlay-address {
        font-size: 3.8vw;
    }
}
