* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("img/bg.jpg");
    background-size: cover;
    font-family: "Arvo", serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

a {
    color: #bb7c66;
}

a:hover {
    color: rgba(210, 100, 131, 1);
}

h1 {
    text-align: center;
    font-family: "UnifrakturCook", cursive;
    color: #bb7c66;
    font-size: 6vw;
    margin: 0;
}

.center {
    text-align: center;
}

.info-window {
    font-family: "Arvo", serif;
    font-size: 14px;
    margin-left: 10px;
}

.info-window a {
    text-decoration: none;
}

.info-window p {
    margin-bottom: 5px;
}

.info-window h2 {
    color: #bb7c66;
    margin-bottom: 10px;
    margin-top: 0;
}

#info-window-address {
    margin-top: 10px;
    color: darkgrey;
}

#overlay-online-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 999999;
    color: black;
    font-family: "Arvo", serif;
    font-size: 20px;
    padding: 3%;
    text-align: center;
}

#overlay-online-users h2 {
    color: white;
    margin: 0;
    font-family: "UnifrakturCook", cursive;
    font-size: 5vw;
    padding: 10px;
}

#overlay-online-users img {
    height: 50vh;
    width: 90vw;
    object-fit: cover;
}

#marker-overlay-content-container {
    background-color: rgba(187, 124, 102, 0.8);
}

#full-description {
    margin-top: 15px;
}

#x {
    font-family: "UnifrakturCook", cursive;
    text-decoration: none;
    color: #ffd2b0;
    cursor: pointer;
    font-size: 3vw;
    position: absolute;
    margin-left: 91%;
}

#x:hover {
    color: rgba(210, 100, 131, 1);
}
